* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(205, 196, 196);
}

.container {
    width: 1300px;
    height: 500px;
    margin: 100px auto;

}

.items {
    margin: 10px 20px;
    width: 280px;
    height: 325px;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
    border: 40px solid black;
    border-left-style: none;
    border-right-style: none;
    padding: 20px 30px;
    background-color: #ffffff;

}



.box1 {
    border-color: #f67e49;
}

.box2 {
    border-color: #e4709f;
}

.box3 {
    border-color: #8671ba;

}

.box4 {
    border-color: #5596e9;
}

.fa-globe {
    font-size: 29px;
    color: #f67e49;
}

.fa-rocket {
    font-size: 29px;
    color: #e4709f;

}

.fa-mobile {
    font-size: 29px;
    color: #8671ba;
}

.fa-briefcase {
    font-size: 29px;
    color: #5596e9;

}

.box-heading-1 {
    padding: 20px 0;
    color: #f67e49;
}

.box-heading-2 {
    padding: 20px 0;
    color: #e4709f;
}

.box-heading-3 {
    padding: 20px 0;
    color: #8671ba;
}

.box-heading-4 {
    padding: 20px 0;
    color: #5596e9;
}

.items:hover{
    box-shadow: 10px 20px 30px gray;
    width: 285px;
    height: 329px;
    cursor: pointer;
}