.container {
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    margin-top: 100px;

}


.box1 {
    background-color: #f67e49;
    width: 280px;
    height: 320px;
    text-align: center;
    border-radius: 15px;
}

.box2 {
    background-color: #e4709f;
    width: 280px;
    height: 320px;
    text-align: center;
    border-radius: 15px;
}

.box3 {
    background-color: #8671ba;
    width: 290px;
    height: 320px;
    text-align: center;
    border-radius: 15px;
}

.box4 {
    background-color: #5596e9;
    width: 280px;
    height: 320px;
    text-align: center;
    border-radius: 15px;
}

.box-item-1 {
    background-color: #ffffff;
    margin: 40px 0;
    padding: 10px 30px 15px 30px;
}

.box-item-2 {
    background-color: #ffffff;
    margin: 40px 0;
    padding: 10px 30px 15px 30px;
}

.box-item-3 {
    background-color: #ffffff;
    margin: 40px 0;
    padding: 10px 30px 15px 30px;
}

.box-item-4 {
    background-color: #ffffff;
    margin: 40px 0;
    padding: 10px 30px 15px 30px;
}

.fa-globe {
    font-size: 29px;
    color: #f67e49;
}

.fa-rocket {
    font-size: 29px;
    color: #e4709f;

}

.fa-mobile {
    font-size: 29px;
    color: #8671ba;
}

.fa-briefcase {
    font-size: 29px;
    color: #5596e9;

}

.box-heading-1{
    color: #f67e49;
}

.box-heading-2{
    color: #e4709f;
}

.box-heading-3{
    color: #8671ba;
}

.box-heading-4{
    color: #5596e9;
}